

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1637961904899-1 {top: 200px; left: 40px; height: 220px; width: 360px;
        }
        .silex-id-1637961892554-0 {top: 120px; left: 40px; height: 60px; width: 360px;
        }
        .silex-id-1637961918546-2 {top: 440px; left: 40px; height: 40px; width: 140px;
        }
    